@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination .swiper-pagination-bullet {
    background-color: black;
}

.home-slider .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    width: 50px;
    border-radius: 0;
    height: 2px;
}

.pagination {
  font-family: sans-serif;
  gap: 25px;
}

  .mobile-pagination {
    margin: 0 1rem;
    font-family: sans-serif;
  }
  /* .mobile-pagination {
    border: 1px solid #1b1b1b ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .mobile-pagination:hover {
    border: 1px solid #1b1b1b ;
    background-color: #d0d0d0;
    transition: all 250ms ease-in-out;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  } */

@media (max-width: 350px) {
    .mobile {
        height: 380px;
    }
}

@media (min-width: 351px) and (max-width: 420px){
    .mobile {
        height: 430px;
    }
} 

@media (min-width: 768px) and (max-width: 800px){
    .mobile {
        height: 430px;
    }
} 
