@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination .swiper-pagination-bullet {
    background-color: black;
}

.home-slider .swiper-pagination .swiper-pagination-bullet {
    background-color: white;
    width: 50px;
    border-radius: 0;
    height: 2px;
}

/* @media (max-width: 500px) {
    .newscard {
        min-height: 100%;
    }
} */

@media (max-width: 350px) {
    .mobile {
        height: 380px;
    }
}

@media (min-width: 351px) and (max-width: 420px){
    .mobile {
        height: 430px;
    }
} 

@media (min-width: 768px) and (max-width: 800px){
    .mobile {
        height: 430px;
    }
} 
